.dirs_container {
  height: 120px;
  border: solid grey 1px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.dir_plate {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.dir_plate_img {
  margin: 5px;
  width: 40%;
}

.dir_plate_name {
  font-size: 0.9rem;
}

.files_container {
  height: 700px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.file_plate {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.file_plate_img {
  margin: 10px;
}

.file_plate_name {
  font-size: 0.9rem;
}

.file_screenshot {
  width: 75%;
}
